.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid black;
  width: 200px;
  margin: 10px;
  box-shadow: 1px 2px 3px 0px #cccccc57;
  background-color: white;
  color: black;
}

.card img {
  width: 100%;
  height: 200px;
}

.card-content {
  padding: 8px;
}

.gray-theme {
  background-color: gray;
  color: cyan;
}

.default-theme {
  background-color: white;
  color: black;
}

button {
  background-color: #49a6e0;
}

button:hover {
  background-color: #5a22dc;
}